*.so
advanced_maple
libarb.so.2
libarb.so.2.9.1
libcilkrts.so.5
libcublas.so.2
libcublas.so.2.2
libcudart.so.2
libcudart.so.2.2
libcurl.so.4.7.0
libflint.so.14
libflint.so.14.0.3
libicudatampl.so.68
libicudatampl.so.68.2
libicui18nmpl.so.68
libicui18nmpl.so.68.2
libicuucmpl.so.68
libicuucmpl.so.68.2
libintlc.so.5
libmapleboost_chrono-gcc10-mt-x64-1_71.so.1.71.0
libmapleboost_date_time-gcc10-mt-x64-1_71.so.1.71.0
libmapleboost_filesystem-gcc10-mt-x64-1_71.so.1.71.0
libmapleboost_locale-gcc10-mt-x64-1_71.so.1.71.0
libmapleboost_regex-gcc10-mt-x64-1_71.so.1.71.0
libmapleboost_system-gcc10-mt-x64-1_71.so.1.71.0
libmapleboost_thread-gcc10-mt-x64-1_71.so.1.71.0
libmaplegmp.so.10
libmaplegmp.so.10.4.0
libmpfr.so.6
libmpfr.so.6.1.0
libpython3.8.so.1.0
simple
